 <div>
    <ngx-carousel [inputs]="carouselConfig">
          <ngx-item
            *ngFor="let item of items" NgxCarouselItem>
                <div [ngStyle]="{'background-color': item.color, 'height.px': 360, 'width.%': 100,'color': 'white'}">
                    <img src={{item.foto}}>
                </div>
          </ngx-item>
          <button NgxCarouselPrev class="leftRs">&lt;</button>
          <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>
  </div>
    

    
