h3 { padding:20px; text-align:center; }
h2 { padding:20px; text-align:center; }

ngx-carousel .ngxcarouselPointDefault {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
ngx-carousel .ngxcarouselPoint li {
  transform: scale(1);
}

ngx-carousel  button {
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 999%;
  margin: auto;
}

ngx-carousel button[NgxCarouselPrev] {
  left: 10px;
}
ngx-carousel button[NgxCarouselNext] {
  right: 10px;
}


/*======================*/

img {
    height: 100%;
    width: 100%;
}




#left, #right { 
    margin: 30px;
}