.mat-toolbar  {
  background: #B2DFDB;
}

.mat-sidenav {
  width: 200px;
  background: #B2DFDB;

}
.bg-image {
  background-image: url('http://ujlakuszoda.hu/angular/cseppek.jpg');
  background-size: cover;
  width: 90%;
  margin-top: 4%;
  border-radius: 25px;

}

 .arnyek {
  max-width:800px;
  margin: 0 auto;
  box-shadow: 1px 1px 149px 0px rgb(24, 25, 25);
}

.szeljegy {
  width: 75%;
}

