.mat-toolbar  {
  background: #B2DFDB;
}

.master-container {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 100%;
  padding: 2em;
  height: 100vh;
  overflow: auto;
}

.side-pane {
  width: 30%;
  padding: 2em;
  height: 100vh;
  overflow: auto;
}

.bg-image {
  background-image: url('http://ujlakuszoda.hu/angular/cseppek.jpg');
  background-size: cover;
}

 .arnyek {
  max-width:800px;
  margin: 0 auto;
  box-shadow: 1px 1px 149px 0px rgb(24, 25, 25);
}


.color-grey {
	background-color: #ccc;
}

.color-red {
	color: red;
}

.color-grey {
	color: yellow;
}

.blue-bg {
	background: blue;
}

.green-bg {
  background: green;
}

.orange-bg {
  background: orange;
}
