  <mat-toolbar>
      <img mat-cardimage src="http://ujlakuszoda.hu/angular/uszi-logo-pici.png" class="imagecardstyle"/>

        <span class="example-fill-remaining-space"></span>

        <span class="align_to_right"></span>

        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

</mat-toolbar>


<mat-sidenav-container>

    <mat-sidenav #snav position="end">
      <mat-nav-list>
         <a mat-list-item [routerLink]="['/home']">Home</a>
         <a mat-list-item [routerLink]="['/ticket']">Jegyárak</a>
         <a mat-list-item [routerLink]="['/course']">Pályatájékoztató</a>
         <a mat-list-item [routerLink]="['/service']">Szolgáltatások</a>
         <a mat-list-item [routerLink]="['/contact']">Kapcsolat</a>
         <a mat-list-item [routerLink]="['/settings']">Beállítások</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

       <div fxLayout="row" fxLayoutAlign="center center" style="padding-top:40px;" >
            <div fxLayout="column" class="bg-image arnyek" fxLayoutAlign="start center" fxLayoutGap="50px">
                  <h2 style="color:white;padding-top:20px;">Kapcsolati ürlap</h2>               
                  <mat-card  fxLayout="column" fxLayoutAlign="center center">
                   <img mat-cardimage src="http://ujlakuszoda.hu/angular/uszi-logo-pici.png"/>

                     <section>
                        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
                          <mat-form-field>
                              <input type="email" matInput placeholder="Email cím" ngModel name="email" email required #emailInput="ngModel">
                              <mat-error *ngIf="emailInput.hasError('required')">Kötelező az email címet megadni.</mat-error>
                              <mat-error *ngIf="!emailInput.hasError('required')">Hibás email formátum.</mat-error>
                          </mat-form-field>
                          <mat-form-field hintLabel="Max 100 karakter">
                              <textarea matInput rows="6" placeholder="Üzenet" ngModel name="uzenet" required minlength="1" maxlength="100" #pwInput="ngModel"></textarea>
                              <mat-hint align="end">{{ pwInput.value?.length }} / 100</mat-hint>
                              <mat-error>Ne hagyja üresen a mezőt.</mat-error>
                          </mat-form-field>
                          <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Elküld</button>
                        </form>
                      </section>

                   </mat-card>
              </div>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>



