.example-card {
  max-width: 600px;
  text-align:center;
  margin: auto;
  margin-top: 5%;
}

.bg-image {
  background-image: url('http://fodlaci.hu/uszoda/images/uszoda.jpg');
  background-size: cover;
  opacity: 0.9;
}

.mat-toolbar  {
  background: #B2DFDB;
}
