<div>
  <mat-toolbar>
      <img mat-cardimage src="http://ujlakuszoda.hu/angular/uszi-logo-pici.png" class="imagecardstyle"/>

        <span class="example-fill-remaining-space"></span>

        <span class="align_to_right"></span>

        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

</mat-toolbar>


<mat-sidenav-container>

    <mat-sidenav #snav position="end">
      <mat-nav-list>
         <a mat-list-item [routerLink]="['/home']" (click)="snav.toggle()">Home</a>
         <a mat-list-item [routerLink]="['/ticket']" (click)="snav.toggle()">Jegyárak</a>
         <a mat-list-item [routerLink]="['/course']" (click)="snav.toggle()">Pályatájékoztató</a>
         <a mat-list-item [routerLink]="['/service']" (click)="snav.toggle()">Szolgáltatások</a>
         <a mat-list-item [routerLink]="['/contact']" (click)="snav.toggle()">Kapcsolat</a>
         <a mat-list-item [routerLink]="['/settings']" (click)="snav.toggle()">Beállítások</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="bg-image">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle><h2>Szabad pályák</h2></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="http://fodlaci.hu/uszoda/images/free-palya.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <div>
              <h2> Az adatok tájékoztató jellegűek, a változás jogát fenntartjuk!</h2>
              Aktuális információkat pénztáros kollégáinknál kérhet!
            </div>
          </mat-card-content>
        </mat-card>
    </mat-sidenav-content>


</mat-sidenav-container>

</div>
