<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Pályatájékoztató</mat-card-title>
    <mat-card-subtitle>DoSzabad pályák</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://fodlaci.hu/uszoda/images/free-palya.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div>
      <h2> Az adatok tájékoztató jellegűek, a változás jogát fenntartjuk!</h2>
      Aktuális információkat pénztáros kollégáinknál kérhet!
    </div>
  </mat-card-content>

</mat-card>