	<mat-toolbar>
      <img mat-cardimage src="http://ujlakuszoda.hu/angular/uszi-logo-pici.png" class="imagecardstyle"/>

        <span class="example-fill-remaining-space"></span>

        <span class="align_to_right"></span>

        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

</mat-toolbar>


<mat-sidenav-container>

    <mat-sidenav #snav position="end">
      <mat-nav-list>
         <a mat-list-item [routerLink]="['/home']">Home</a>
         <a mat-list-item [routerLink]="['/ticket']">Jegyárak</a>
         <a mat-list-item [routerLink]="['/course']">Pályatájékoztató</a>
         <a mat-list-item [routerLink]="['/service']">Szolgáltatások</a>
         <a mat-list-item [routerLink]="['/contact']">Kapcsolat</a>
         <a mat-list-item [routerLink]="['/settings']">Beállítások</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-card class="card-style">
            <div align="center">
                <h2>Belépés</h2>
                <p>Kérem adja meg azonosítóit!</p>         
                <img mat-cardimage src="http://ujlakuszoda.hu/angular/uszi-logo-pici.png" class="imagecardstyle"/>
            </div>  

            <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mat-card-content>
                  <div align="center">
                    <mat-form-field>
                    <input
                      type="email"
                      matInput
                      placeholder="Email"
                      ngModel
                      name="email"
                      email
                      required
                      #emailInput="ngModel">
                    </mat-form-field>
                    <br/>
                    <mat-form-field>

                    <input
                      type="password"
                      matInput
                      placeholder="Jelszó"
                      ngModel
                      name="password"
                      required
                      minlength="6"
                      #pwInput="ngModel">
                    </mat-form-field>
                  </div>

                </mat-card-content>
                <mat-card-actions>
                  <div align="center">
                    <button type="submit" mat-raised-button color="primary">
                      Elküld
                      <mat-icon>check</mat-icon>
                    </button>
                  </div>
                </mat-card-actions>
            </form>
          </mat-card>

    </mat-sidenav-content>


</mat-sidenav-container>

