.mat-toolbar  {
  background: #B2DFDB;
}

.mat-sidenav {
  width: 200px;
  background: #B2DFDB;

}

.card-style{
    width:250px;
    margin:auto;
    margin-top: 4%;
    background: #B2DFDB;
    text-align: center;
}
.image-card-style{
    width:25%;
}

