section {
 position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.container-column {
  margin-top: 4%;
}

.container-row {
  width: 75vh;
  margin-top: 6%;
}

mat-card {
  margin: 0;
  background: rgba(178, 223, 219, 0.6);
}


.videoBG{
    position: absolute;
    right: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.9;
    z-index: -100;

}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    color: #14667F; 
    width: 100%;
    padding: 20px;
}

